{namespace k=Codeminds\FlowKickstarter\ViewHelpers}<![CDATA[<f:layout name="Default" />

<f:section name="Title">]]>Edit {modelName -> k:inflect.humanizeCamelCase(lowercase: true)} "<![CDATA[{]]>{modelName}<![CDATA[.name}]]>"<![CDATA[</f:section>

<f:section name="Content">]]>
    <![CDATA[<f:form action="update" object="{]]>{modelName}<![CDATA[}]]>" objectName="{modelName}" class="needs-validation is-update-form" additionalAttributes="<![CDATA[{novalidate: 1}]]>">
    <f:for each="{properties}" as="property" key="propertyName">
        <div>
            <label for="{propertyName}" class="form-label">{propertyName -> k:inflect.humanizeCamelCase()}</label>
            <![CDATA[<f:form.textfield]]> property="{propertyName}" id="{propertyName}" class="form-control" errorClass="is-invalid" />
            <![CDATA[<f:render partial="ValidationResult" arguments="{property: ]]>'{propertyName}'<![CDATA[}]]>" />
        </div>
    </f:for>
        <div>
            <button type="submit" class="btn btn-primary btn-lg" disabled="1"><i class="fas fa-save"></i> Jetzt speichern</button>
            <div class="form-text is-unchanged">Keine Änderungen vorhanden.</div>
            <div class="form-text text-success has-changes"><i class="fas fa-check-circle"></i> Änderungen vorhanden.</div>
        </div>
    <![CDATA[</f:form>]]>
<![CDATA[</f:section>]]>
