{namespace k=Codeminds\FlowKickstarter\ViewHelpers}<![CDATA[<f:layout name="Default" />

<f:section name="Title">]]>New {modelName -> k:inflect.humanizeCamelCase(lowercase: true)}<![CDATA[</f:section>

<f:section name="Content">]]>
    <![CDATA[<f:form action="create" class="needs-validation" additionalAttributes="{novalidate: 1}"]]> objectName="{modelName}">
    <f:for each="{properties}" as="property" key="propertyName">
        <div>
            <label for="{propertyName}" class="form-label">{propertyName -> k:inflect.humanizeCamelCase()}</label>
            <![CDATA[<f:form.textfield]]> property="{propertyName}" id="{propertyName}" class="form-control" errorClass="is-invalid" />
            <![CDATA[<f:render partial="ValidationResult" arguments="{property: ]]>'{propertyName}'<![CDATA[}]]>" />
        </div>
    </f:for>
        <div>
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-check"></i> Jetzt erstellen</button>
        </div>
    <![CDATA[</f:form>]]>
<![CDATA[</f:section>]]>
